<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jhw.alarm">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name=".AlarmJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".AlarmService" />

    </application>
</manifest>
